@charset "UTF-8";
/* CSS Document */

body{
    background-image: url("../img/facebook.jpg");
    max-width: 1080px;
    background-repeat: no-repeat;
}

section{
     display: block;
    background-position: center;
    margin-top: 710px;
    margin-left: 288px;
    position: fixed;
}
